.profile-img {
    border-radius: 100px;
    height: 200px;
    background-color: darkblue;
    grid-area: 1 / 1 / 3 / 2;
}

.profile-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.cart-item-id {
    margin: 0;
}

.cart-item-idbox {
    display: flex;
    align-items: flex-end;
}

.cart-item-pricebox {
    display: flex;
    align-items: flex-end;
    width: 200px;
    justify-content: space-between;
}